.centered-content h1 {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0; /* Remove default margin */
}

#home {
  position: absolute;
  top: 30px; 
  right: 30px; 
  width: 70px; 
  height: 70px; 
  border-radius: 70%; 
  transition: transform 0.5s ease; /* Dönme efekti için geçiş tanımı */
}

.resim-galerisi img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    padding-left: 150px;
    padding-right: 150px;
  }
  

.resim-galerisi {
    width: 700px;
    height: 450px;
    margin: auto;
    display: flex;
    overflow-x: auto;
  }
  
  
.resim-yazisi {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    width: calc(100% - 30px);  /* Resim galerisinin genişliği ile aynı */ 
    height: 50px; 
  }
  

@media only screen and (max-width: 850px) {
    .resim-galerisi img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 10px;
      }
      
    
    .resim-galerisi {
        width: 100%;
        height: 400px;
        margin: auto;
        display: flex;
        overflow-x: auto;
      }
      
      
    .resim-yazisi {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: black;
        width: calc(100% - 30px);  /* Resim galerisinin genişliği ile aynı */ 
        height: 50px; 
      }    
  }

